<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <log4net debug="true">
    <!-- Make rolling log file-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <!-- Make log file roll over daily -->
      <layout type="log4net.Layout.PatternLayout">
        <!-- [Date] [Time] [Logging Level] [Class Name] - [Message] -->
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <!-- Log only at DEBUG level and higher -->
      <level value="ERROR" />
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>

</configuration>
